html, body {
    height: 100vh;
    background: transparent;
}

body {
    margin: 0;
    padding: 16px;
    background: rgba(0, 109, 197, 0.56);
    border-color: #000;
    -webkit-app-region: drag;
}